@page "/"

<PageTitle>Index</PageTitle>

<h1>Welkom bij PlanMeister!</h1>

<a href="/weekschedule">
    <button class="btn btn-primary">WeekSchedule</button>
</a>
<AuthorizeView>
    <a href="/appointment">
        <button class="btn btn-primary">Appointments</button>
    </a>
</AuthorizeView>

<a href="/request">
    <button class="btn btn-primary">Requests</button>
</a>