@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="pt-3 px-4">
            <AccessControl/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
